body {
    background-color: #eeebeb;

    .box {
        width: 300px;
        display: flex;
        justify-content: space-around;

        .frame {
            width: 50px;
            height: 40px;
            margin: 10px;
            display: flex;
            border-radius: 5px;
            justify-content: center;
            align-items: center;
            box-shadow: 2px 2px  10px grey;
            overflow: hidden;
            
            span {
            transition: all 0.5s ease;
            }

            
        }

        .icon-1 {
            &:hover {
                .up {
                    transform: translateX(0) translateY(0);
                    
                }
            }

            .up {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                transform: translateX(-40px) translateY(40px);
                
                background-color: #3d5b99;
                
            }

            .icon1 {
                color: #3d5b99;
                z-index: 1;
                position: absolute;
            }
            
            &:hover {
                .icon1 {
                    
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
        .icon-2 {&:hover {
            .up {
                transform: translateX(0) translateY(0);
                
            }
        }

        .up {
            width: 40px;
            height: 40px;
            border-radius: 5px;
            transform: translateX(-40px) translateY(40px);
            
            background-color: #35ccff;
            
        }
            
            .icon2 {
                z-index: 1;
                position: absolute;
                color: #35ccff;
            }
            
            &:hover {
                .icon2 {
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
        .icon-3 {
            &:hover {
                .up {
                    transform: translateX(0) translateY(0);
                    
                }
            }

            .up {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                transform: translateX(-40px) translateY(40px);
                
                background-color: #dc4c3a;
                
            }
            
            .icon3 {
                z-index: 1;
                position: absolute;
                color: #dc4c3a;
            }
            
            &:hover {
                .icon3 {
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
        .icon-4 {
            &:hover {
                .up {
                    transform: translateX(0) translateY(0);
                    
                }
            }

            .up {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                transform: translateX(-40px) translateY(40px);
                
                background-color: #f26e9e;
                
            }
            
            .icon4 {
                z-index: 1;
                position: absolute;
                color: #f26e9e;
            }
            
            &:hover {
                .icon4 {
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
        .icon-5 {
            &:hover {
                .up {
                    transform: translateX(0) translateY(0);
                    
                }
            }

            .up {
                width: 40px;
                height: 40px;
                border-radius: 5px;
                transform: translateX(-40px) translateY(40px);
                
                background-color: #02b0f0;
                
            }
            
            .icon5 {
                z-index: 1;
                position: absolute;
                color: #02b0f0;
            }
            
            &:hover {
                .icon5 {
                    transform: scale(1.2);
                    color: white;
                }
            }
        }
    }
}