@font-face {
  font-family: Poppins-Regular;
  src: url(../font/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Bold;
  src: url(../font/Poppins-Bold.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../font/Poppins-Medium.ttf);
}

@font-face {
  font-family: Poppins-Light;
  src: url(../font/Poppins-Light.ttf);
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url(../font/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: Inter-Medium;
  src: url(../font/static/Inter-Medium.ttf);
}

* {
  color: #22343D;
  font-family: "Poppins-Regular";
}

.box {
  width: 1400px;
  color: #22343D;
  font-family: "Poppins-Regular";
}

.box .btn {
  background: #02897A;
  color: white;
  cursor: pointer;
  font-family: "Poppins-Bold";
  border-radius: 4px;
  border: none;
  padding: 10px 25px;
}

.box .same-text {
  margin: 0;
  font-family: "Poppins-Regular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.box .nav_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box .nav_bar .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .nav_bar .left-nav img {
  margin-right: 16px;
}

.box .nav_bar .left-nav .Head {
  font-family: "Poppins-Bold";
  font-size: 30px;
  line-height: 28px;
}

.box .nav_bar .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .nav_bar .right-nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.box .nav_bar .right-nav .list .active {
  cursor: pointer;
  list-style-type: none;
  margin-left: 30px;
  font-size: 16px;
  line-height: 28px;
  color: #22343D;
}

.box .nav_bar .right-nav .sign-in {
  background-color: transparent;
  border: 1px solid #BCD0E5;
  color: #173A56;
  font-family: "Poppins-SemiBold";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 25px;
  margin-right: 24px;
  margin-left: 24px;
}

.box .nav_bar .right-nav .sign-up {
  color: white;
  font-family: "Poppins-SemiBold";
  border-radius: 4px;
  padding: 10px 25px;
  margin-right: 24px;
}

.box .news {
  width: 77%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .news .text {
  width: 40%;
}

.box .news .text .tbold {
  font-family: "Poppins-Bold";
  font-size: 40px;
  line-height: 60px;
}

.box .news .text .light-text {
  width: 85%;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.box .news .text .btn-box {
  margin-top: 45px;
}

.box .news .text .btn-box .start {
  margin-right: 30px;
  border: none;
}

.box .news .text .btn-box .next {
  color: white;
  background-color: #02897A;
}

.box .news .text .btn-box a {
  color: #02897A;
  font-family: "Poppins-SemiBold";
  font-size: 16px;
  line-height: 24px;
}

.box .pbox {
  margin-top: 110px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .pbox .para {
  font-family: "Poppins-Bold";
  width: 38%;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.box .round {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}

.box .round .circle {
  background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 30.63%);
  height: 900px;
  width: 2300px;
  border-radius: 90%;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-470px) translateY(-800px) rotate(180deg);
          transform: translateX(-470px) translateY(-800px) rotate(180deg);
}

.box .round .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 58px;
}

.box .round .card-box .card {
  width: 18%;
  font-family: "Poppins-SemiBold";
  font-size: 22px;
  line-height: 33px;
}

.box .round .card-box .card .b-text {
  font-family: "Poppins-SemiBold";
  font-size: 22px;
  line-height: 33px;
}

.box .round .cover-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .small-head {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 12px;
}

.box .big-head {
  font-family: "Poppins-Bold";
  font-size: 32px;
  line-height: 48px;
  margin-top: 0;
}

.box .samer-text {
  font-family: "Poppins-SemiBold";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 7px;
}

.box .element1 {
  margin: 0 auto;
  margin-top: 150px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .element1 .left-side {
  width: 44%;
}

.box .element1 .left-side .img-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.box .element1 .left-side .img-back img {
  width: 35px;
  height: 35px;
  margin-right: 30px;
}

.box .element1 .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 56%;
}

.box .element1 .right-side-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 56%;
}

.box .round2 {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  margin-top: 150px;
  text-align: center;
}

.box .round2 .circle2 {
  background: linear-gradient(179.59deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 40.63%);
  height: 900px;
  width: 2300px;
  border-radius: 90%;
  position: absolute;
  z-index: -1;
  -webkit-transform: translateX(-470px) translateY(0px);
          transform: translateX(-470px) translateY(0px);
}

.box .round2 .box1 .header {
  font-family: "Poppins-Bold";
  font-size: 32px;
  text-align: center;
  line-height: 48px;
}

.box .round2 .box1 .extra-text {
  width: 542px;
  margin: 0 auto;
  font-family: "Poppins-Medium";
  text-align: center;
}

.box .round2 .box1 .center-section .inline {
  width: 963px;
  margin: 0 auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .round2 .box1 .center-section .inline .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .round2 .box1 .center-section .inline .frame .frame-box {
  margin: 16px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
          box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.box .round2 .box1 .center-section .inline .frame .frame-box .small-head {
  margin-bottom: 0;
}

.box .round2 .box1 .center-section .inline .frame .frame-box .big-circle-left {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -6px;
  left: 32px;
}

.box .round2 .box1 .center-section .inline .frame .frame-box .big-circle-right {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -6px;
  right: 32px;
}

.box .round2 .box1 .center-section .inline .frame .frame-box .small-circle-left {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -17px;
  left: 21px;
}

.box .round2 .box1 .center-section .inline .frame .frame-box .small-circle-right {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  bottom: -17px;
  right: 21px;
}

.box .round2 .box1 .center-section .extra-btn {
  margin-top: 48px;
  margin-bottom: 150px;
}

.box .element2 {
  width: 1107px;
  margin: 0 auto;
}

.box .element2 .parag {
  font-family: "Poppins-Bold";
  font-size: 34px;
  line-height: 51px;
  margin: 0;
}

.box .element2 .extra-text {
  font-family: "Poppins-Medium";
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
}

.box .element2 .cart-box {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .element2 .cart-box .cart {
  width: 348px;
  border: 1px solid #DEDEDE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
}

.box .element2 .cart-box .cart .box-text {
  width: 294px;
  margin: 0 auto;
}

.box .element2 .cart-box .cart .box-text .active {
  color: #02897A;
}

.box .element2 .cart-box .cart .box-text .new-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.box .element2 .cart-box .cart .box-text .new-text span {
  font-family: "Poppins-Bold";
}

.box .element2 .cart-box .cart .box-text .bold-text {
  font-family: "Poppins-Bold";
  font-size: 24px;
  line-height: 40px;
}

.box .element2 .circle-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box .element2 .circle-3 .round1 {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #EFEFEF;
  margin-right: 10px;
}

.box .element2 .circle-3 .acitve-r {
  background-color: #02897A;
}

.box .element3 {
  width: 1110px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-top: 150px;
}

.box .element3 .bord {
  position: absolute;
  width: 99%;
  top: 45%;
  background: #AFAFAF;
  z-index: -1;
}

.box .element3 .parag {
  font-family: "Poppins-Bold";
  font-size: 34px;
  line-height: 51px;
  margin: 0;
}

.box .element3 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.box .element3 .cards .car {
  text-align: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 24px 73px;
}

.box .element3 .cards .car .price {
  font-family: "Poppins-Bold";
  font-size: 24px;
  line-height: 40px;
  margin: 0;
}

.box .element3 .cards .car .description {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 40px;
}

.box .element3 .cards .car .num-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 154px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box .element3 .cards .car .num-box .num {
  font-family: "Poppins-Bold";
  font-size: 76px;
  line-height: 100px;
  color: #02897A;
}

.box .element3 .cards .car .num-box .month {
  margin: auto 0;
}

.box .element3 .cards .car .num-box .month .symbol {
  font-family: "Poppins-Bold";
  margin: 0;
  color: #02897A;
  text-align: start;
  font-size: 24px;
  line-height: 30px;
}

.box .element3 .cards .car .num-box .month .per {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #AFAFAF;
  letter-spacing: 0.1px;
}

.box .element3 .cards .car .group .medium {
  font-family: "Inter-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.2px;
}

.box .element3 .cards .active-car {
  background-color: #02897A;
}

.box .element3 .cards .active-car .price {
  color: white;
}

.box .element3 .cards .active-car .description {
  color: white;
}

.box .element3 .cards .active-car .num-box .num {
  color: white;
}

.box .element3 .cards .active-car .num-box .month .symbol {
  color: white;
}

.box .element3 .cards .active-car .num-box .month .per {
  color: white;
}

.box .element3 .cards .active-car .group .medium {
  color: white;
}

.box .element3 .cards .active-car button {
  color: #02897A;
  background-color: white;
}
/*# sourceMappingURL=style.css.map */